# Ignore bundler config.
/.bundle

# Ignore files by type globally
*.log
*.xml
*.zip

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore CSV data files
/db/data/*.csv

# Ignore exports
/exports/
